@{
    ViewData["Title"] = "Ons Team";
}
<h2>@ViewData["Title"]</h2>
<h3>Dit project is gemaakt door:</h3><br />
<strong>- Tom van Essen</strong> - 0955054@hr.nl<br />
<strong>- Fiona Suijker</strong>  - 0957639@hr.nl<br />
<strong>- John Rossel </strong> - 0910691@hr.nl<br />
<strong>- Soner Yesilkaya</strong>  - 0897806@hr.nl<br />
<strong>- Thomas van den Berg</strong>  - 0951513@hr.nl<br />
<strong>- Armand Heijder</strong>  - 0921441@hr.nl<br />
