@{
    ViewData["Title"] = "Home";
}

<style>

    .chart-container {
        position: relative;
        margin: auto;
        height: 20vh;
        width: 80vw;
    }

    .filter-container {
        width: 500px;
        height: auto;
        border: 1px solid black;
        border-radius: 5px;
        margin: 20px auto;
        padding: 0 20px 15px;
    }

    #chart {
        width: 100%;
        height: 100%;
    }

    @@media screen and (max-width: 767px) {
        .filter-container {
            width: 100%;
        }
    }
</style>
<center><h1>Team Lucri</h1></center>
<h2>Recreatie</h2>
<p>
    Onder het kopje ‘recreatie’ vindt u de visualisatie van de volgende vragen:
    Beïnvloedt de nabijheid van recreationele voorzieningen de huizenprijzen in de regio Rotterdam? En verschilt dit per voorziening?
    Hiervoor is gebruik gemaakt van data van het CBS, uit het jaar 2016. De gemiddelde WOZ-waarde per wijk in Rotterdam wordt afgezet tegen de minimale afstand vanuit de wijk tot het dichtstbijzijnde warenhuis, bibliotheek en/of zwembad.
    Onder het kopje ‘recreatie’ selecteert u eerst de regio waarvan u de visualisatie wilt bekijken en vervolgens kunt u de verschillende voorzieningen in- en uitschakelen.
</p>

<h2>Criminaliteit</h2>
<p>
    Onder het kopje ‘criminaliteit’ vindt u de visualisatie van de volgende vraag:
    Draagt een hogere criminaliteit bij aan een daling van de huizenprijs in de regio Rotterdam?
    Hiervoor is gebruik gemaakt van data van het CBS en buurtmonitor Rotterdam, uit het jaar 2016. De gemiddelde WOZ-waarde per wijk in Rotterdam wordt afgezet tegen het aantal criminaliteit per wijk in Rotterdam.
    Onder het kopje ‘criminaliteit’ selecteert u eerst de regio waarvan u de visualisatie wilt bekijken en vervolgens krijgt u per wijk de huizenprijs en criminaliteitscijfers te zien over het jaar 2016.
    De criminaliteitscijfers geven het totaal aantal criminaliteit die hebben plaatsgevonden in het jaar 2016.
</p>
