<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" </script>
    <script src="/js/my.js"></script>
</head>
@{
    ViewData["Title"] = "recreatie";
}
<h2>@ViewData["Title"]</h2>

<h1>Beïnvloedt de nabijheid van recreationele voorzieningen de huizenprijzen in de regio Rotterdam? </h1>
<BR /><BR>

<div id="myChart">

    <!-- Drop-down -->
    <select id="chart-selector" name="chart-selector">

        <option value="" id="">Selecteer een regio</option>
        <option value="0" id="0">Centrum</option>
        <option value="1">Charlois</option>
        <option value="2">...</option>
        <option value="3">...</option>
        <option value="4">...</option>
    </select>
</div>
<div>
    <button id="run" type="button">Run</button>
</div>

<script>

    function new_page() {
        if (selected == "By doctor's office") {
        window.location.href = "http://www.google.com";
        }
        else {
        window.location.href = "http://www.gmail.com";
         }

    }

    var runButton = document.getElementById("run");
    runButton.addEventListener("click", new_page);

</script>


<select class="dropdown" id="dd">
    <option value="" selected="selected">Select: Sanitary area by</option>
    <option value="Centres">Total number of centres</option>
    <option value="By health centres">Health centres only</option>
    <option value="By doctor's office">Doctor's offices only</option>
    <option value="Ratio: population/centre">Ratio: population/centre</option>
</select>

<script>
  //  $("#dd").change(function () {
        var e = document.getElementById("dd");
        var selected = e.options[e.selectedIndex].value
    //});
    
</script>
