<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" </script>
    <script src="/js/my.js"></script>
</head>
@{
    ViewData["Title"] = "Recreatie";
}
<style>
    #chart-container {
        display: inline-block;
        position: relative;
        margin: auto;
        height: auto;
        width: 100%;
        z-index: 5;
    }

    .filter-container {
        width: 500px;
        height: auto;
        border: 1px solid black;
        border-radius: 5px;
        margin: 20px auto;
        padding: 0 20px 15px;
    }

    .chart-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FFFFFF;
        z-index: -10;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        opacity: 0;
        transition: all 0.25s ease-in-out;
    }

    .chart-overlay-active {
        z-index: 10 !important;
        opacity: 1;
        transition: opacity 0.25s ease-in-out;
    }

    #chart {
        width: 100% !important;
        height: 100% !important;
        background-color: #FFFFFF;
    }

    @@media screen and (max-width: 767px) {
        .filter-container {
            width: 100%;
        }
    }

    .spinner {
        -webkit-animation: rotation 1.35s linear infinite;
        animation: rotation 1.35s linear infinite;
        margin: 20px 0;
    }

    @@-webkit-keyframes rotation {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
        }
    }

    @@keyframes rotation {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
        }
    }

    .circle {
        stroke-dasharray: 180;
        stroke-dashoffset: 0;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-animation: turn 1.35s ease-in-out infinite;
        animation: turn 1.35s ease-in-out infinite;
    }

    @@-webkit-keyframes turn {
        0% {
            stroke-dashoffset: 180;
        }

        50% {
            stroke-dashoffset: 45;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        100% {
            stroke-dashoffset: 180;
            -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
        }
    }

    @@keyframes turn {
        0% {
            stroke-dashoffset: 180;
        }

        50% {
            stroke-dashoffset: 45;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        100% {
            stroke-dashoffset: 180;
            -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
        }
    }

    svg {
        stroke: #f2499d;
    }
</style>

<h2>@ViewData["Title"]</h2>

<h1>Beïnvloedt de nabijheid van recreationele voorzieningen de huizenprijzen in de regio Rotterdam? </h1>
<BR /><BR><br />
<!-- Drop-down -->
<div>
    <select id="chart-selector" name="chart-selector">
        <option value="">Selecteer een regio</option>
        <option value="Centrum">Centrum</option>
        <option value="Charlois">Charlois</option>
        <option value="Delfshaven">Delfshaven</option>
        <option value="Feijenoord">Feijenoord</option>
        <option value="HillegersebergSchiebroek">Hillegersberg-Schiebroek</option>
        <option value="Ijselmonde">IJsselmonde</option>
        <option value="KralingenCrooswijk">Kralingen-Crooswijk</option>
        <option value="Noord">Noord</option>
        <option value="Overschie">Overschie</option>
        <option value="PrinsAlexander">Prins Alexander</option>
    </select>
</div>
<br />
<div> <button id="run" type="button" onclick="new_page()">Maak diagram</button> </div>

<script>
    function new_page() {
        var e = document.getElementById("chart-selector");
        var strUser = e.options[e.selectedIndex].value;
        window.location.href = "/Home/Recreatie" + strUser;

        }
</script>
<br /><br /><br /><br />
<h2>Wijken per regio</h2>
<br />
<table style="width:100%" id="recreatie">
    <tr>
        <th>Centrum</th>
        <th>Charlois</th>
        <th>Delfshaven</th>
        <th>Feijenoord</th>
        <th>Hillegersberg-Schiebroek</th>
    </tr>
    <tr>
        <td>Cool</td>
        <td>Carnisse</td>
        <td>Bospolder</td>
        <td>Afrikaanderwijk</td>
        <td>Hillegersberg Noord</td>
    </tr>
    <tr>
        <td>CS-kwartier</td>
        <td>Heijplaat</td>
        <td>Delfshaven</td>
        <td>Bloemhof</td>
        <td>Hillegersberg Zuid</td>
    </tr>
    <tr>
        <td>Nieuwe Werk/Dijkzigt</td>
        <td>Oud-Charlois</td>
        <td>Middelland</td>
        <td>Feijenoord</td>
        <td>Molenlaankwartier</td>
    </tr>
    <tr>
        <td>Oude Westen</td>
        <td>Pendrecht</td>
        <td>Nieuwe Westen</td>
        <td>Hillesluis</td>
        <td>Schiebroek</td>
    </tr>
    <tr>
        <td>Stadsdriehoek</td>
        <td>Tarwewijk</td>
        <td>Oud Mathenesse/Witte Dorp</td>
        <td>Katendrecht</td>
        <td>Terbregge</td>
    </tr>
    <tr>
        <td> </td>
        <td>Wielewaal</td>
        <td>Schiemond</td>
        <td>Kop van Zuid</td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Zuiderpark en Zuidrand</td>
        <td>Spangen</td>
        <td>Kop van Zuid - Entrepot</td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Zuidplein</td>
        <td>Tussendijken</td>
        <td>Noordereiland</td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Zuidwijk</td>
        <td> </td>
        <td>Vreewijk</td>
        <td> </td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <th>IJsselmonde</th>
        <th>Kralingen-Crooswijk</th>
        <th>Noord</th>
        <th>Overschie</th>
        <th>Prins Alexander</th>
    </tr>
    <tr>
        <td>Beverwaard</td>
        <td>De Esch</td>
        <td>Agniesebuurt</td>
        <td>Kleinpolder</td>
        <td>Het Lage Land</td>
    </tr>
    <tr>
        <td>Groot IJsselmonde-Noord</td>
        <td>Nieuw Crooswijk</td>
        <td>Bergpolder</td>
        <td>Noord Kethel/Schieveen/Zestienhoven</td>
        <td>Kralingseveer</td>
    </tr>
    <tr>
        <td>Groot IJsselmonde-Zuid</td>
        <td>Kralingen Oost/Kralingse Bos</td>
        <td>Blijdorp/Blijdorpsepolder</td>
        <td>Overschie</td>
        <td>Nesselande</td>
    </tr>
    <tr>
        <td>Lombardijen</td>
        <td>Kralingen West</td>
        <td>Liskwartier</td>
        <td> </td>
        <td>Ommoord</td>
    </tr>
    <tr>
        <td>Oud IJsselmonde</td>
        <td>Oud Crooswijk</td>
        <td>Oude Noorden</td>
        <td> </td>
        <td>Oosterflank</td>
    </tr>
    <tr>
        <td> </td>
        <td>Rubroek</td>
        <td>Provenierswijk</td>
        <td> </td>
        <td>Prinsenland</td>
    </tr>
    <tr>
        <td> </td>
        <td>Struisenburg</td>
        <td> </td>
        <td> </td>
        <td>'s-Gravenland</td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>Zevenkamp</td>
    </tr>
</table>