@{
    ViewData["Title"] = "Deelvraag 3";
}
<h2>@ViewData["Title"]</h2>


<h1>In welke provincie heeft meer arbeidsdeelname van personen met migratieachtergrond en zonder migratieachtergrond</h1>
